body {
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  width: 100%;
  height: 100vh;
  align-content: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

:root {
  --animation-time: 4s;
}

.container {
  height: 100vh;
  position: relative;
  width: 100vw;
  background-image: url(https://cdn.discordapp.com/attachments/1217469104680865803/1217849397988167751/Fond_Jeux_Video.gif?ex=660585a3&is=65f310a3&hm=9b1e53562ba59edce24916f6e01fd5c75b2e55732a004ea3642df219aac85286&);
  background-size: cover;
  box-shadow: 0px -5px 20px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.mechant {
  animation-delay: 10s;
  animation: mob var(--animation-time) ease alternate infinite;
}

@keyframes mob {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

#score {
  color: aliceblue;
  bottom: 669px;
  left: 116px;
  position: ABSOLUTE;
  font-family: "Orbitron", sans-serif;
  font-size: larger;
}

.container-modal {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.close-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.discordapp.com/attachments/1217469104680865803/1217849397988167751/Fond_Jeux_Video.gif?ex=660585a3&is=65f310a3&hm=9b1e53562ba59edce24916f6e01fd5c75b2e55732a004ea3642df219aac85286&);
  box-shadow: 0px -5px 20px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.container--modal {
  display: block;
}

.header-modal {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.button-modal-sup {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #000000;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
  padding: 12px 64px;
  border-radius: 999px;
  font-family: "Orbitron", sans-serif;
  font-size: larger;
  margin: 10px;
}

.button-close-modal {
  position: absolute;
  top: 388px;
  display: flex;
  flex-direction: column;
}

.fond-overlay {
  z-index: 2;
  width: 100%;
  height: 100vh;
}

.insta {
  position: absolute;
  top: 10px;
  right: 170px;
}

.youtube {
  position: absolute;
  top: 10px;
  right: 250px;
}

.logo {
  position: relative;
  top: -99px;
}
