body {
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  width: 841px;
  height: 213px;
  margin-right: 200px;
  margin-left: 217px;
  align-content: center;
  overflow: hidden;
}

.container {
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(https://cdn.discordapp.com/attachments/1217469104680865803/1217849397988167751/Fond_Jeux_Video.gif?ex=660585a3&is=65f310a3&hm=9b1e53562ba59edce24916f6e01fd5c75b2e55732a004ea3642df219aac85286&);
  background-repeat: no-repeat;
  background-size: cover;
}

.fight-bar {
  position: relative;
  bottom: 384px;
  left: 450px;
  height: 39px;
  width: 400px;
}
